html,
body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
}

.circle {
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative; 
}

